.education__container{
    padding: 2rem 0;

    .education__item{
        display: flex;
        justify-content: center;
        gap: 5rem;
        padding: 1rem 0;
        margin-bottom: 1rem;
        border: 1px solid $color-brand;
        border-left: 5px solid $color-brand;
        border-right: none;

        @include media-tablet{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0;
            padding: 2rem 4rem 0;
            margin-bottom: 1rem;
            margin: 2rem;
        }


        .education__info{
            display: flex;
            flex: 0 0 35%;
            flex-direction: column;

            .education__time{
                text-align: end;
                font-size: 10px;
                color: $color-light;

                @include media-tablet{
                    text-align: center;
                    margin: 0;
                }
                time{
                    letter-spacing: 0.5px;
                    line-height: 1.5;
                    padding: 0.3rem;
                    background-color: $color-brand;
                    border-radius: 2px;
                }
            }

        }
        .education__text{
            flex: 0 0 50%;
            text-align: justify;

            @include media-tablet{
                text-align: start;
            }
        }
    }

}