header{
    z-index: 32;
    display: flex;
    padding: 16px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-header-text);
    background-color: var(--color-header-bg);
    align-items: center;
}