$color-brand: #77A6F7;
$color-additional:#f76e0b;;
$color-background: #D3E3FC;
$color-tag: #F5F5F5;
$color-heading: #00887A;
$color-subheading: #757575;
$color-light: #ffffff;
$color-overlay: rgba(80, 80, 80, 0.6);

$color-code-bg:#1e1e1e;
$color-code-blue:#2565c7;
$color-code-lightblue:#7dcbf6;
$color-code-yellow:#f3c807;
$color-code-darkyellow:#d5ca8f;
$color-code-violet:#d994ca;


$content-width: 1200px;
$laptop-width: 1020px;
$tablet-width: 769px;
$mobile-width: 390px;